h1 TRELOGについて
p TRELOGは筋トレを効率的に行うための記録アプリです

div TRELOGはトレーニング中に忘れがちなセット数を忘れないための記録アプリです。
p もう無駄なセットは無くしていきましょう
p TRELOGができた理由
p TRELOGでできること（TRELOGはこんなことができますよ！っていうのできるだけ簡潔に）
p Q&A
p 以上は機能が全部実装が終わったら作ります