h1 TRELOGへようこそ！
p TRELOGは筋トレを効率的に行うための記録アプリです。
p =link_to 'トレーニングを始める',  signup_path
p =link_to 'ログイン',  login_path


p =link_to 'TRELOGについて',  about_path
/ 簡単ログインを実装後にルーティングを設定する
p =link_to '簡単ログインでTRELOGを使ってみる',  login_path