/ ' User#reset_password_email
/ = "\r\n" * 2
/ ' #{@greeting + ", find me in app/views/user_mailer/reset_password_email.text.slim"}
div = @user.user_name 様
パスワード再発行のご依頼を受け付けました。
こちらのリンクからパスワードの再発行を行ってください。
div = @url