// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// アカウント画像を丸にする
.cicle_icon img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}