  /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files |
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's |
  * vendor/assets/stylesheets directory can be referenced here using a relative path. |
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the |
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS |
  * files in this directory. Styles in this file should be added after the last require_* statement. |
  * It is generally better to create a new file per style scope. |
  *
  *= require_self
  *= require font-awesome
  */

  // *= require_tree .
@import "font-awesome";
@import "bootstrap";
@import url("static_pages.scss");


// 全体で使う色一覧
// a {
// color: #4072B3 ; // ボタンを押した時などやマイページに使うサブカラー
// color: #6088C6 ; //ヘッダーやボタンなどに使うメインカラー
// color: #AEC4E5 ; //ボタンを押した時などやマイページに使うサブカラー
// color: #EB8686 ; //キャンセルボタンなどに使う
// color: #C0C0C0 ; // 文字の色
// color: #EEF9FF; //
// }

// HTML全体に適用
* {
  font-family: 'Osaka';
  // outline: 2px solid red;
  // height: 100vh;
}

body{
  margin: 0px;
  padding: 0px;
  
}




// フラッシュメッセージのレイアウト
.notifications {
  color: $white;
  text-align: center;  

  .notice {
    color:  #D9EDF7;
    margin: 0px, 0px , 20px;
    padding: 15px;
    background-color: #AEC4E5 ;
  }
  // #DFF0D8  Bootstrap　サクセスメッセージ #3C763D

  .alert {
    color: #A94442;
    margin: 0px, 0px , 20px;
    padding: 15px;
    background-color: #F2DEDE	;
  }
}
//  ここまで

// ナビバー
// ul.ml-auto{
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   list-style: none;
//   // background-color: #87CEFA;
// }
// 

.header{ grid-area: header; }
.main{ grid-area: main; }
.menubar{ grid-area: navigation; }
.sidebar{ grid-area: ads; }

.style{
  margin:0;
  // padding:0;
  // width:100%;
  
  background-color: #f6fafd;
  // background-color: #F8F8EC;

  // background-color: #87CEFA;
  // background-color: #55b9f3;

  display: grid;
  grid-template-areas:"header header header"
                      "navigation main ads";
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 140px 
                      1fr
                      30px;
  // footerを常に下に表示させる
  // min-height: 100vh;
  //スマホ以外の時は非表示にする
}


// スマホの時は表示させない
// @media(max-width:800px){
//   .raight-sidemanu{display:none; }
// }

/*PC表示の際はボトムメニューは表示しない*/
@media(min-width: 900px){
  .bottom-menu{
    display:none; 
  }
}


// スマホでのレイアウト
@media screen and (max-width: 900px) {
  .style {
      grid-template-areas:"header"
                          "ads"
                          "main"
                          "navigation";
      grid-template-columns: 100%;
      grid-template-rows: auto // header
                          1fr // main
                          auto // ads class: saidebar
                          auto; // navi class: menubar
                          // 50px;// footer
                          
      // grid-row-gap: 10px;
      // grid-column-gap: 10px;

      .menubar {
        margin-bottom: 48px;

        //PCで表示するクラスなので非表示にしている
        .raight-sidemanu{
          display:none; 
          list-style: none;

        }

        // 固定ボトムズメニュー
        .bottom-menu{
          height: 50px;
          position: fixed;
          display: block;
          // background: #4072B3;
          background-color: #6088C6 ; 
          color: #ffffff;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 100;
          list-style: none;
          padding-bottom: 0;
          margin: 0;
          display: flex;
          justify-content: space-evenly;

          .fa {
              font-size: 24px;
          }
          
            li {
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 10px;
              height: 50px;
              text-decoration: none;
              // font-size: 12px;
              line-height: 1.2;
              vertical-align: middle;
              text-align:center;
              a {
                font-size: 8px;
                color: #ffffff;
              }
          }
        }
  
        // ここまで

        // スマホで表示するクラス
        // .bottom-menu{
        //   list-style: none;
          
        //   display: flex;
        //   li {

        //     text-align: center;
        //     background-color: #333;
        //     text-decoration: none;
        //     color: #fff;
        //     font-weight: bold;
            
        //   }
        // }
    
    
      }

      .sidebar {
        label{
          padding-right: 10px;
          font-size: 1rem;
        }
        .progress {
          // padding: 20x;
          margin: 25px;
        }
        .search-title{
          text-align: right;
        }
        // border-right: solid 1px #BDBDBD;
        #search-btn{
          // text-align: right;
          float: right;
        }
      }
  }
}




// .grid-container{
//   display: grid; 
//   grid-template-columns: repeat(4, 1fr); 
//   grid-template-rows: repeat(4, 1fr); 
//   grid-column-gap: 0px;
//   grid-row-gap: 0px;
//   // height: 25%;
//   // // CSS　Gridの適用
//   // display: grid;
//   // // 右から順にカラム（列）の幅を決めている
//   // grid-template-columns: 200px 1fr 180px;
//   // // 上から順にロウ（行）の幅を決めている
//   // grid-template-rows: 50px 1fr 50px;
//   // grid-template-columns: 1fr;
//   .container{
//     margin: 0px;
//   }

.header {
    text-align: center;
    
    width: 100%;
    // text-align: justify;
    // position:fixed;
    // height: 80px;
    grid-area: 1 / 1 / 2 / 5; 
    // background-color:#4072B3;
    background-color: #6088C6; 
    
    
    .header-navbar {
      display:none;
      display: inline-flex;
      list-style: none; 
      margin: 1rem;
      max-width: 960px;
      // margin: 0 auto;
      .fa {
        font-size: 24px;
      }

      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: justify;

      }

      ul:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 0;
    }

      li {
        display: inline-block;
        text-align:center;
        margin: 1rem;
        a{
          color:white;
        }
      }
    }
}

// }
.main {
  // grid-column: 2 / 3;
  // grid-row-start: 2 / 3;
  // grid-area: 2 / 2 / 5 / 4; 
  // background-color: yellow;
  // border-right: solid 1px #BDBDBD;
  // border-left: solid 1px #BDBDBD;
  border-top: solid 1px #BDBDBD;

  .btn-right-radius{
    width: 100px;
  }

  .task-container{
    
    // border-top: solid 0.1px #BDBDBD;
    // border-bottom: solid 0.1px #BDBDBD;
    list-style: none;

    .task-containerIn{
      border-radius: 10px;
      background-color:#79A1D4;
      //  #9FBCDF;
      
    }
    
    
    .task-statustime {
      margin: 1rem; 
      
      display: inline-flex;
      li{
        text-align: right;
      }
    }
    .task-deadline-label{
      // text-align: right;
      display: inline-flex;
      float: right;
      margin: 5px;
    }

    .task-contentBox{
      margin: 1rem;
      
      
      .task-content{
        display: inline-block;
        #task_title{
          margin: 2rem;
        }
        li{
          display: inline;
          margin-left: 1rem;
        }
        
      }

    }

    .task-container-footer{
      width: 100%;
      display: inline-flex;
      // text-align: justify;
      // text-align: right;
      .task-icons{
        display: flex;
        float: right;
        text-align: right;
        li{
          // position: absolute; bottom: 30; 
          
          
          list-style: none;
          margin: 5px;
        }
      }
    }

    .next{
      text-align: right;
    }

    .task-list {
      padding: 0;
    }
  }

  // タブの切り替え
  .tab-container {
    padding-bottom: 1em;
    background-color: #FFF;
    border:1px solid #AEC4E5;
    margin: 0 auto;}
  .tab-item {
    width: calc(100%/3);
    padding:15px 0;
    border-bottom: 3px solid #AEC4E5 ;
    background-color: #EEF9FF;
    text-align: center;
    color: #6088C6;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab-item:hover {
    opacity: 0.75;
  }
  input[name="tab-item"] {
    display: none;
  }
  .tab-content {
    display: none;
    padding: 1em 1em 0;
    clear: both;
    overflow: hidden;
  }
  #tab1:checked ~ #tab1-content,
  #tab2:checked ~ #tab2-content,
  #tab3:checked ~ #tab3-content,
  #tab4:checked ~ #tab4-content {
    display: block;
  }
  .tab-container input:checked + .tab-item {
    background-color: #6088C6;
    color: #fff;
  }
  
  .task-fixed-btn{
    // float: right;
    position: fixed;
    text-align: right;
    right: 5px;
    bottom: 10px; 
    padding: 6px 40px;
    margin-bottom: 48px;
    .task-create-circlebtn {
    
      display: inline-block;
      text-decoration: none;
      background-color: #6088C6;
      color: #FFF;
      width: 60px;
      height: 60px;
      line-height: 50px;
      
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      transition: .4s;
    }
    .task-create-circlebtn:hover{
      background: #4072B3;
    }
  }
  
  .input-container{
    text-align: center;
    padding-bottom: 2em;
  }

  .task-list.jscroll{
    padding: 0;
  }

  .pagination{
    text-align: right;
  }
}

.menubar {
  border-right: solid 1px #BDBDBD;
    .raight-sidemanu{
      list-style: none;
      li {
        padding: 1rem;
      }
    }
}

.sidebar {
    // border-bottom: solid 1px #BDBDBD;
  border-left: solid 1px #BDBDBD;
}

  // .footer {
  //     grid-area: 5 / 1 / 6 / 6;
  //     // background-color: #e74c3c;
  //     list-style: none;
  //   } 

  .task-control{
    margin-left: 15px;
  }

  #task-info{
    width: 140px;
    // box-sizing:border-box;
    // padding: 5px;
    margin: 1em;
  }

//  ユーザ認証周りのCSS　ログイン、ユーザー登録 //

// アカウント画像を丸にする
.circle_icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

//未ステータスのラジオボタンに空白を作ってる
#task_status{
  margin-right : 40px;
  }

  // ステータスボタンのCSS。サルワカさんのやつ
  .btn-right-radius{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-bottom: solid 2px #668ad8;
    background-color: #f6fafd;
    color: #668ad8;
    transition: .4s;
  }


  .btn-right-radius:hover{
    padding-left: 0.7em;
    padding-right: 0.3em;
  }



  // ボタンを凹ませる
  .btn:active {
    position: relative;
    top: 6px;
    box-shadow: none;
  }

  .row.pl-1{
    #task_status {
      padding-right: 10px ;
    }
    p {
      padding-right: 10px ;
    }
  }

  // _form.html.slimのCSS

  // 
  #new_task_button {
    text-align: right;
  }

  //タスク一覧のコンテンツのCSS 

//** ドロップダウンメニュー **//
.dropmenu {
  display: grid;
  float: right;
}

.menu {
  width: 300px;
  text-align: center;
}

.menu-title {
  // background: #090032;
  color: #ffffff;
}
// ユーザーアイコンの大きさの調整
#drop-icon > img{
  width: 10%;
  height: 10%;
}

.sub-menu {
  display: none;
  background: #B9B9B9;
  position: relative;
}

.sub-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
}

.sub-menu > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.menu:hover .sub-menu {
  display: inline-block;
}



//** ドロップダウンメニューここまで **//


  // footer CSS
  .footer-logo{
    padding:  10px;
    font-size :32px;
    float: left;
  }

  .footer-list{
    float: right;
    li{
      padding-bottom:20px;
    }
  }
  //


    // // アコーディオンメニュー
    // /*ボックス全体*/
    // .accbox {
    //   margin: 2em 0;
    //   padding: 0;
    //   max-width: 400px;/*最大幅*/
    // }

    //     /*ラベル*/
    // .accbox label {
    //   display: block;
    //   margin: 1.5px 0;
    //   padding : 11px 12px;
    //   color :#2f8fcf;
    //   font-weight: bold;
    //   background :#a4cbf3;
    //   cursor :pointer;
    //   transition: all 0.5s;
    // }

    // /*ラベルホバー時*/
    // .accbox label:hover {
    //   background :#85baef;
    // }

    // /*チェックは隠す*/
    // .accbox input {
    //   display: none;
    // }

    // /*中身を非表示にしておく*/
    // .accbox .accshow {
    //   height: 0;
    //   padding: 0;
    //   overflow: hidden;
    //   opacity: 0;
    //   transition: 0.8s;
    // }

    // /*クリックで中身表示*/
    // .cssacc:checked + .accshow {
    //   height: auto;
    //   padding: 5px;
    //   background: #eaeaea;
    //   opacity: 1;
    // }

/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  background-color: #EEF9FF;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}


// 静的ページレイアウト