  /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files |
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's |
  * vendor/assets/stylesheets directory can be referenced here using a relative path. |
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the |
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS |
  * files in this directory. Styles in this file should be added after the last require_* statement. |
  * It is generally better to create a new file per style scope. |
  *
  *= require_self
  
  */

  // *= require_tree .
@import "bootstrap";
* {
  box-sizing: border-box;
}


// フラッシュメッセージのレイアウト
.notifications {
  color: $white;
  text-align: center;  

  .notice {
    color: #31708F;
    margin: 0px, 0px , 20px;
    padding: 15px;
    background-color: #D9EDF7;
  }
  // #DFF0D8  Bootstrap　サクセスメッセージ #3C763D

  .alert {
    color: #A94442;
    margin: 0px, 0px , 20px;
    padding: 15px;
    background-color: #F2DEDE	;
  }
}
//  ここまで

// ナビバー
ul.ml-auto{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.logo {
  padding: 20px;
}
// 

body.style{
  background-color: #87CEFA;
  // background-color: #55b9f3;
}

.input-wrapper{
  border-radius: 62px;
  padding: 100px;
  text-align: center;
  color:black;
  width: 100%;  
  background-color:#FFFF;
  .input-container{
    background-color:#FFFF; 
    width: 100%;
  }
  .task-control{
    text-align: left;
  }
  #weight{
    width: 100px;
  }
  #rep{
    width: 100px;
  }
  #set_count{
    width: 100px;
  }
}


//  ユーザ認証周りのCSS　ログイン、ユーザー登録 //

// アカウント画像を丸にする
.circle_icon{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

//未ステータスのラジオボタンに空白を作ってる
#todo{
  margin-right : 30px;
  }