// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  margin: 0px;
  padding: 0px;
}

.home-container{
  display: flex;

  .right-container{
    flex: 1;
    background-color: #AEC4E5;
    color:  #ffffff;
    
    h1{
      padding-top: 7rem;
    }
    // height: 800px;
    .btn-square{
      margin: 1rem;
      display: inline-block;
      padding: 1em 1em;
      text-decoration: none;
      background: #668ad8;/*ボタン色*/
      color: #FFF;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
    }
    .btn-square:active {
      /*ボタンを押したとき*/
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }
  }

  

  .left-container{
    flex: 1;
    // background-color: #6088C6 ; 
    color:  #6088C6;
    li{
      padding-top: 2rem;
    }

    p{
      padding-bottom: 1rem;
    }
  }


}