// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
  // grid-column: 2 / 3;
  // grid-row-start: 2 / 3;
  grid-area: 2 / 2 / 5 / 4; 
  // background-color: yellow;
  border-right: solid 1px #BDBDBD;
  border-left: solid 1px #BDBDBD;

  .btn-right-radius{
    width: 100px;
  }

  .task-container{
    border-top: solid 0.1px #BDBDBD;
    border-bottom: solid 0.1px #BDBDBD;
    list-style: none;
    
    .task-statustime {
      margin-top: 1rem; 
      margin-bottom: 1rem; 
      display: inline-flex;
      li{
        text-align: right;
      }
    }

    .task-contentBox{
      margin: 1rem;

      #task_title{
        margin: 2rem;
      }

      li{
        display: inline;
        margin-left: 1rem;
      }
      
    }

    .task-icons{
      text-align: right;
      
      #task-icons{
        // margin: 1rem;
        padding: 1rem;
      }
    }
    
  }
}

.menubar {
  // grid-column: 1 / 2;
  // grid-row-start: 2 / 3;
  grid-area: 2 / 1 / 5 / 2; 
  // background-color:#00BCD4;
  li{
    list-style: none;
    margin: 2rem; 
  }
}
.sidebar {
  // grid-column: 3 / 4;
  // grid-row-start: 2 / 3;
  grid-area: 2 / 4 / 5 / 5; 
  // background-color: #00BCD4;
}

  // .footer {
  //     grid-area: 5 / 1 / 6 / 6;
  //     // background-color: #e74c3c;
  //     list-style: none;
  //   } 